*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .text {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .text {
      width: 50%;
    }
  }
  
  @media (min-width: 1000px) {
    .text {
      width: 25%;
    }
  }
  
  
  
  
  
  
  
  

body{
    background: rgba(110, 110, 110, 0.8) ;
    
}

.header{
    font-family: monospace;
   
   
    flex-wrap: wrap;
    
    

}



.nav-bar
{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
     padding-top: 15px;
    background: rgb(94, 89, 92);
}




.logo{

    font-size: 48px;
    font-weight: 900;
    color: rgba(235, 235, 235, 0.651);
    /*background: tan;*/
    padding: 4px 32px;
    
    /*border: 7px solid rgb(207, 13, 13);*/
    
    /*display: flex;
    flex: 1 1 auto;
    background-color: bisque;
    justify-content: center;
    border: none;
    border-color: black;
    border-radius: 8px;
    
    padding: 8px 24px;
    margin: 10px;*/
    
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    /*flex-direction: row;*/
    list-style-type: none;
}



a{
    font-size: 22px;
    /*background: white;*/
    flex-direction: row;
    
    padding: 8px;
    text-decoration: none;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    height: auto;
    width: 100vw;
    font-family: "open Sans";
    padding-top: 4px;
    color: aliceblue;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
   max-width: 500px;
   margin: 10px auto;
   line-height: 28px;
   font-size: 14px;

}

.socials{
    
    list-style: none ;
    display: flex;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;

}

.socials a{
    
    text-decoration: none;
    color: #fff;
}

.socials a {
    font-size: 1.1rem;
    transition:color .8s ease ;
}

.socials a:hover {
    
    color: aqua;
}  

.footer-bottom{
    background: rgb(0, 0, 0);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}


.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}